DATABASE_URL="postgres://postgres:postgres@localhost:5432/catarino_prime"
PGSSL="false"

PUBLIC_SITE_URL="http://localhost:3000"

ALIEXPRESS_APP_KEY=""
ALIEXPRESS_APP_SECRET=""
ALIEXPRESS_ACCESS_TOKEN=""
ALIEXPRESS_TRACKING_ID=""
ALIEXPRESS_ORDER_API_ENABLED="false"

MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_WEBHOOK_SECRET=""
